body {
 background-color: #95DBE5FF;
 color: black;
 font-size: 18px;
 font-family: Arial, Helvetica, sans-serif;
 margin: 0;
 line-height: 1.4;
}

header {
background-color: #078282FF;
color: black;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
}

.intro {
    width: 80%;
    margin: 0 auto;
}

section {
    float: left;
    width: 70%
}

aside {
    float: right;
    width: 25%;
}

footer {
    clear: both;
    padding: 50px 0;
    background-color: #339E66FF;
    text-align: center;
}